{
    "prefix": "!",
    "token": "YOUR-BOT-TOKEN"
    "db_name": "discord",
    "db_username": "discord",
    "db_password": "password",
    "db_host": "localhost",
    "day_of_week_to_generate_payment": 3,
    "payment_amount": 300000,
    "token_amount": 15
}